:root {
    --present: #66dc5b;
    --late: #fffa75;
    --absent: #ffb0b7;
    --excused: #add2db;
    --lateLegend: #d8d21e;
}

body{
    font-family: Inter;
    padding-top: 67px;
    padding-bottom: 67px;
}

body, html {
    margin: 0;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.profile-picture{
    height: 35px;
    border-radius: 50%;
    padding-right: 4px;
}
.navbar-fixed-top{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 5px rgb(177, 177, 177);
}
.navbar-right{ 
    margin-left: auto; 
}
 /* For the padding of the Icons */
 .navbar-nav .nav-item .nav-link{
    padding: 16px 24px !important;
}
/* For the Bell Icon padding */
.nav-link{
    padding: 16px 24px !important;
}
/* Removed the padding-left of the Home icon */
#navbarNav > ul > li:first-child .nav-link {
    padding-left: 0px !important;
}
.nav-profile{
    background-color: #dddddd;
}
.nav-link svg path {
    fill: #6e6e6e;
    transition: fill 0.3s ease; 
}
/* .active-nav svg path {
    fill: #202020;
} */
.nav-link:hover svg path {
    fill: #c2c2c2;
}
.dropdown-menu {
    width: 100%;
}

/* FOR "ONLINE ATTENDANCE" and DATE TODAY */
.page-title{
    margin-top: 40px;
}

h1{
    font-size: 30px;
    margin-bottom: 0;
}

.date-today > h2{
    font-size: 15px;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.date-today > h3{
    font-size: 25px;
    padding: 0;
    margin-bottom: 0;
}

.search-and-filter {
    margin-top: 30px;
}

.create-class-button svg,
.create-class-button span {
    vertical-align: middle;
}
.col-md {
    display: flex;
    align-items: stretch;
}

.create-class-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-class-button svg {
    margin-right: 5px;
}
.label-text {
    font-size: 13px;
    margin: 0;
    /* color: #777; */
    color: #000000 !important;
}
.label-text-2 {
    font-size: 13px;
    margin: 0;
    /* color: #777; */
    color: #000000 !important;
    line-height: 0;
}


/* Create Class Form */
.day-button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.day-button:last-child{
    margin-right: 0;
}

.class-container{
    background-color: rgb(228, 228, 228);
    border-radius: 13px;
    width: 432px;
    padding: 0 10px;
    transition: background-color 0.3s ease-out;
}
.class-container:hover{
    background-color: #4d94ff;
    border: 2px solid white;
    box-shadow: 0px 5px 10px rgb(190, 190, 190);
}

/* remove underline */
.class-code,
.class-name{
    text-decoration: none;
    line-height: normal;
}

.class-code{
    font-size: 2.5em;
    font-weight: bold;
    color: black;
}
.class-code-2{
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    line-height: 1;
}

.class-name{
    color: black;
}
.class-name-2{
    margin-bottom: 0;
}

.btn:focus{
    box-shadow:none !important;
}

@media (min-width: 1400px) {
    .class-container{
        width: 416px;
    }
  }
@media (max-width: 1399px) {
    .class-container{
        width: 542px;
    }
  }
/* <1400 1296/3*/ 
@media (max-width: 1199px) {
    .class-container{
        width: 452px;
    }
  }

@media (max-width: 991px) {
    .class-container{
        width: 694px;
    }
  }

@media (max-width: 767px) {
.class-container{
    width: 100%;
    }
}

.seatplan-container{
    background-color: #6e6e6e;
    padding: 1rem;
    margin: 1rem;
}

.seatplan-seat{
    margin: 4px;
    /* width: 100%; */
    width: 11vh;
    height: 11vh;
    background-color: #c9c9c9;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    white-space: wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    transition: background-color 0.3s ease;
}

.seatplan-seat {
    /* position: absolute; */
    width: 116px;
    height: 116px;
    padding-left: 4px;
    /* width: 100px;
    height: 100px; */
    /* margin: 5px; */
    z-index: 1;
    }

.seatplan-seat-edit{
    margin: 4px;
    /* width: 100%; */
    /* width: 11vh;
    height: 11vh; */
    background-color: #c7c7c7;
    border-radius: 7px;
    /* position: relative; */
    overflow: hidden;
    white-space: wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    cursor: move;
    transition: background-color 0.3s ease;
}

.seatplan-seat-edit {
    position: absolute;
    width: 116px;
    height: 116px;
    padding-left: 4px;
    /* width: 100px;
    height: 100px; */
    /* margin: 5px; */
    z-index: 1;
    }

.seatplan-seat:hover .seatplan-status-btn-container {
    opacity: 1;
}

.seatplan-status-btn-container {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, 30%);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    height: 100px;
    background-color: rgb(112, 110, 112);
}


.seatplan-status-btn {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: black;
    margin: 2px;
    transition: background-color 0.3s ease;
}

.seatplan-lastname {
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 15px;
    /* font-size: .8vw; */
    font-weight: bold;
    color: rgb(0, 0, 0);
    line-height: 15px;
    /* margin: 4px 0 0 4px; */
    margin: 0;
    transform: color 0.3 ease;
}

.seatplan-firstname{
    font-weight: bold;
    color: rgb(39, 39, 39);
    font-size: 11px;
    /* font-size:.55vw; */
    text-transform: uppercase;
    /* margin-bottom: 50px; */
    transform: color 0.3 ease;
    /* margin-left: 4px; */
    margin-top: 2px;
    line-height: 1.2;
}

.seatplan-seat:hover{
    background-color: rgb(177, 177, 177);
}
.seatplan-seat:hover .seatplan-status-btn {
    opacity: 1; /* Make the button fully visible on hover */
    transform: translateY(0); 
    /* Move the button back to its original position */
}

/* Change background color on hover for each button */
.seatplan-status-btn:hover {
    background-color: #97f76b; /* Change to green on hover for 'P' */
    box-shadow: 0px 2px 5px rgb(105, 105, 105);
    /* color: white; */
}

/* Red background on hover for 'A' */
.seatplan-status-btn:hover:nth-child(2) {
    background-color: rgb(255, 94, 94);
}

/* Gray background on hover for 'L' */
.seatplan-status-btn:hover:nth-child(3) {
    background-color: rgb(204, 204, 204);
}

.my-grid {
    position: relative;
    width: 620px;
    /* background-color: rgb(160, 9, 9); */
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

    .seatplan-seat-edit {
    position: absolute;
    width: 116px;
    height: 116px;
    padding-left: 4px;
    /* width: 100px;
    height: 100px; */
    /* margin: 5px; */
    z-index: 1;
    }

  @media (max-width: 1399px) {
    /* Adjust the width to 25% for 4 columns */
    .seatplan-seat-edit {
        width: 99px;
        height: 99px;
        /* background-color: violet; */
    }
    .seatplan-seat {
        width: 99px;
        height: 99px;
        /* background-color: violet; */
    }
    .seatplan-lastname{
        font-size: 13px;
        line-height: 10px;
    }
    .seatplan-firstname{
        font-size: 10px;
    }
    .my-grid{
        width: 535px;;
    }
}
  @media (max-width: 1199px) {
    /* Adjust the width to 25% for 4 columns */
    .seatplan-seat-edit {
        width: 81px;
        height: 81px;
        /* background-color: rgb(9, 204, 9); */
    }
    .seatplan-seat {
        width: 81px;
        height: 81px;
        /* background-color: rgb(9, 204, 9); */
    }
    .my-grid{
        width: 445px;
    }
}

  .seatplan-seat-edit.muuri-item-hidden {
    z-index: 0;
  }
  .seatplan-seat-edit.muuri-item-releasing {
    z-index: 2;
  }
  .seatplan-seat-edit.muuri-item-dragging {
    z-index: 3;
  }
  .seatplan-seat-content {
    position: relative;
    /* cursor: move; */
    margin: 4px;
    overflow: hidden;
    white-space: wrap;
    overflow-wrap: break-word;
    hyphens: auto;
    transition: background-color 0.3s ease;
    /* border-radius: 10px; */
  }

  /* .seatplan-seat-edit.muuri-item-dragging .seatplan-seat-content,
  .seatplan-seat-edit.muuri-item-releasing .seatplan-seat-content {
    background-color: rgb(177, 70, 70);
  } */
  .seatplan-seat-edit.muuri-item-dragging,
  .seatplan-seat-edit.muuri-item-releasing {
    background-color: rgb(67, 128, 241);
  }

  .seatplan-main-container {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
  }

.legend-color,
.legend-color-2,
.legend-color-3,
.legend-color-4{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 15px;
    border-radius: 50%;
    /* border: .2px solid rgb(138, 138, 138); */
}

.legend-color{
    margin-left: 0;
    background-color: var(--present);
}
.legend-color-2{
    background-color: var(--absent);
}
.legend-color-3{
    background-color: var(--late);
}
.legend-color-4{
    background-color: var(--excused);
}

.btn-rounded{
    border-radius: 25px;
}