body{
    font-family: Inter;
    padding-top: 67px;
    padding-bottom: 67px;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.profile-picture{
    height: 35px;
    border-radius: 50%;
    padding-right: 4px;
}
.navbar-fixed-top{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 5px rgb(177, 177, 177);
}
.navbar-right{ 
    margin-left: auto; 
}
 /* For the padding of the Icons */
 .navbar-nav .nav-item .nav-link{
    padding: 16px 24px !important;
}
/* For the Bell Icon padding */
.nav-link{
    padding: 16px 24px !important;
}
/* Removed the padding-left of the Home icon */
#navbarNav > ul > li:first-child .nav-link {
    padding-left: 0px !important;
}
.nav-profile{
    background-color: #dddddd;
}
.nav-link svg path {
    fill: #6e6e6e;
    transition: fill 0.3s ease; 
}
.active-nav svg path {
    fill: #202020;
}
.nav-link:hover svg path {
    fill: #c2c2c2;
}
.dropdown-menu {
    width: 100%;
}

/* FOR "ONLINE ATTENDANCE" and DATE TODAY */
.page-title{
    margin-top: 40px;
}

h1{
    font-size: 30px;
    margin-bottom: 0;
}

.date-today > h2{
    font-size: 15px;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.date-today > h3{
    font-size: 25px;
    padding: 0;
    margin-bottom: 0;
}

.search-and-filter {
    margin-top: 30px;
}

.create-class-button svg,
.create-class-button span {
    vertical-align: middle;
}
.col-md {
    display: flex;
    align-items: stretch;
}

.create-class-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-class-button svg {
    margin-right: 5px;
}
.label-text {
    font-size: 13px;
    margin: 0;
    color: #777;
}

/* Create Class Form */
.day-button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.day-button:last-child{
    margin-right: 0;
}

.class-container{
    background-color: rgb(228, 228, 228);
    border-radius: 13px;
    width: 432px;
    padding: 0 10px;
}

/* remove underline */
.class-code,
.class-name{
    text-decoration: none;
    line-height: normal;
}

.class-code{
    font-size: 2.5em;
    font-weight: bold;
    color: black;
}
.class-code-lg{
    font-size: 4em;
    font-weight: bold;
    color: black;
    line-height: 65px;
}

.class-name{
    color: black;
}

.btn:focus{
    box-shadow:none !important;
}

@media (min-width: 1400px) {
    .class-container{
        width: 416px;
    }
  }
@media (max-width: 1399px) {
    .class-container{
        width: 542px;
    }
  }
/* <1400 1296/3*/ 
@media (max-width: 1199px) {
    .class-container{
        width: 452px;
    }
  }

@media (max-width: 991px) {
    .class-container{
        width: 694px;
    }
  }

@media (max-width: 767px) {
.class-container{
    width: 100%;
    }
}

.seatplan-seat{
    /* background-color:#dddddd; */
    margin: 4px;
    border: 1px solid gray;
}

.seatplan-name {
    /* font-size: 15px; */
    font-weight: bold;
    color: gray;
}
